apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
spec:
  selector:
    app: api-gateway
  ports:
  - name: http
    port: 8000
    targetPort: 5000
    nodePort: 30080
  type: NodePort
