name: MLOps - Train SMA model

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install pandas

    - name: Run training script
      run: |
        python train_model.py
        ls -R

    - name: Upload model artifact
      uses: actions/upload-artifact@v4
      with:
        name: sma-model
        path: models/model.json
